$nav-border: #ccc;
$nav-bg: #000;
$nav-hover: #d5d5d5;
$btn-color: #666;
$footer-bg: #fbfbfb;

$zindex-ribbon: 1100;

$nav-height: 90px;

$grid-breakpoint: 768px !default;
$mobile-grid-breakpoint: 768px - 1 !default;
